* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Merriweather Sans', sans-serif;
    /* height: 100% */
}

.jumbotron {
    background-image: linear-gradient(to bottom, rgb(212, 212, 212), rgb(167, 167, 167));
}

.form-control, .card {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.card {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to bottom right, rgb(183, 227, 252), rgb(49, 176, 250));
}

#sidebar {
    border-right: 1px solid #eee;
    /* padding: 2em 1em; */
}

.five-day-card p, .five-day-date {
    font-size: .6em;
}

#uv-icon {
    font-size: 20px;
    padding-left: 25px;
    background: red;
    border-radius: 50%;
    margin-left: 10px;
}

#footer {
    height: 60px;
    background-image: linear-gradient(to bottom, rgb(151, 151, 151), rgb(104, 104, 104));
    box-shadow: 0 50vh 0 50vh rgb(104, 104, 104);
}


/* //100% height should only apply on medium screens and up
@media (min-width: 768px) {
    #full-row {
        height: 100%;
    }
} */
