* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Merriweather Sans', sans-serif;
    height: 100%
}

.jumbotron {
    margin-bottom: 0;
}

.form-control, .card {
    border-radius: 0;
}

#sidebar {
    border-right: 1px solid #eee;
    /* padding: 2em 1em; */
}
